.upvote {
    background-image: linear-gradient(to bottom, #26530a, #a2b027);

    color: #ffffff;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.downvote {
    background-image: linear-gradient(to bottom, #e91e8a, #9c27b0);
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    cursor: pointer;
    
}