

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

p {
  font-size: 122px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}


main {
  background-image: url('https://wallpapercave.com/wp/wp8303956.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content {
  background-color: rgba(54, 2, 42, 0.7);
  padding: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  main {
    background-attachment: scroll;
    padding-top: 100px;
  }
}


/* main {
  background-color: #714e87;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

main > div {
  width: 45%;
  margin: 10px;
}

main > div > img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

h2 {
  background-color: rgba(54, 2, 42, 0.7);
  color: #fefefe;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


  
h1 {
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-weight: bold; 

   background-image: linear-gradient(to right, #89a6ac,#386464, #778a8a); /* Ustaw kolor gradientowy */
    
    font-size: 6em; /* Ustaw wielkość czcionki */
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



main img {
  width: 100%;
  height: auto;
  max-width: 1000px; /* Ustaw maksymalną szerokość zdjęcia */
  display: block;
  margin: 0 auto;
}